apiVersion: v1
kind: Service
metadata:
  name: ollama
  namespace: google-rag
  labels:
    app: ollama
spec:
  selector:
    app: ollama
  ports:
    - name: http
      port: 11434
      targetPort: 11434
  type: ClusterIP
