apiVersion: v1
kind: Service
metadata:
  name: oauth2-proxy
  namespace: google-rag
  labels:
    app: oauth2-proxy
spec:
  selector:
    app: oauth2-proxy
  ports:
    - name: http
      port: 4180
      targetPort: 4180
  type: ClusterIP
